@model CustomerMVC.Models.Cineplex


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Location)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Location
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            Location Details
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            Location Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescription)
        </dd>

        <dt>
            Maps
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="@Html.DisplayFor(model => model.Location)" style="width:250px;height:210px;">
        </dd>

    </dl>
</div>
<div>
    <table class="table">
        <tr>
            <th>
                Images
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.Movies1)
        {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Poster)" alt="1" style="width:170px;height:230px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie_Title)
                </td>
                <td>
                    <p class="btn btn-default">@Html.ActionLink("Movie Details", "Details", new { id = item.Movie_ID })</p>
                    <p class="btn btn-default">@Html.ActionLink("Session", "Index", "Session")</p>
                </td>
            </tr>
        }
    </table>
</div>
<p class="btn btn-default">@Html.ActionLink("Back", "Index")</p>
