@model CustomerMVC.Models.Cineplex

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Location)</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Location
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            Location Details
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            Location Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescription)
        </dd>

        <dt>
            Maps
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="@Html.DisplayFor(model => model.Location)" style="width:250px;height:210px;">
        </dd>
    </dl>
    <h4>Now Showing</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                Images
            </th>
            <th>
                Title
            </th>
            <th>
                Short Description
            </th>
            <th></th>
        </tr>

       

    </table>
    <hr />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CineplexID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
