@model CustomerMVC.Models.Cineplex


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Location)</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Location
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            Location Details
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            Location Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescription)
        </dd>

        <dt>
            Maps
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="@Html.DisplayFor(model => model.Location)" style="width:250px;height:210px;">
        </dd>

    </dl>
</div>
<div>
    <table class="table">
        <tr>
            <th>
                Images
            </th>
                        <th></th>
        </tr>
        <tr>
            @foreach (var item in Model.Movies)
            {
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Poster)" alt="1" style="width:170px;height:230px;" /><br />
                    @Html.ActionLink(item.Movie_Title, "Details", new { id = item.Movie_ID })
                </td>
        }
        </tr>
</table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CineplexID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
