@model CustomerMVC.Models.Booking

@{
    ViewBag.Title = "Create";
    var tempData = TempData["Booking"] as CustomerMVC.Models.Booking;
}

<h2>Booking Page</h2>
<div>
    <h4>Movies Detail</h4>
    <br />
    <dl class="dl-horizontal">
        <dt>
            Movie
        </dt>

        <dd>
            @tempData.Movie_Title
            <br />
            <img src="@tempData.Poster" alt="1" style="width:170px;height:230px;" />
        </dd>

        <dt>
            Time
        </dt>

        <dd>
            @tempData.Movie_Time
        </dd>

        <dt>
            Day
        </dt>

        <dd>
            @tempData.Session_Time
        </dd>
    </dl>
</div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Booking</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.No_of_Ticket, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.No_of_Ticket)
                @Html.ValidationMessageFor(model => model.Ticket_Type)
            </div>
        </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
            }
