@model CustomerMVC.Models.Booking

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Booking</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Booking_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Booking_ID)
                @Html.ValidationMessageFor(model => model.Booking_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Movie_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Movie_ID)
                @Html.ValidationMessageFor(model => model.Movie_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Movie_Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Movie_Title)
                @Html.ValidationMessageFor(model => model.Movie_Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Movie_Time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Movie_Time)
                @Html.ValidationMessageFor(model => model.Movie_Time)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Session_Time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Session_Time)
                @Html.ValidationMessageFor(model => model.Session_Time)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Poster, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Poster)
                @Html.ValidationMessageFor(model => model.Poster)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
