@model CustomerMVC.Models.Movies

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movies</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Poster)" alt="1" style="width:170px;height:230px;" />
        </dd>
        <dt>
            Movie Title: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie_Title)
        </dd>
        <dt>
            Long Description: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Long_Description)
        </dd>
        <dt>
            Duration: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration) mins
        </dd>

        <dt>
            Rating: 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
           Unit Price: 
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Movie_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
