@model IEnumerable<CustomerMVC.Models.Movies>

@{
    ViewBag.Title = "Index";
}

<h2>Now Showing</h2>
<p>
    @using (Html.BeginForm("Index", "Movie", FormMethod.Get))
    {
    <p>
        Movie Title: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Search" />
    </p>
    }
    </p>
<table class="table">
    <tr>
        <th>
            Images
        </th>
        <th>
            Title
        </th>
        <th>
            Short Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.Poster)" alt="1" style="width:170px;height:230px;"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie_Title)
            <br />
            @Html.DisplayFor(modelItem => item.Duration) mins
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Short_Description)
        </td>
        <td>
            <p class="btn btn-default">@Html.ActionLink("More Info", "Details", new { id = item.Movie_ID })</p>
            <br />
            <br />
            <p class="btn btn-default">@Html.ActionLink("Session", "Index", "Session")</p>
        </td>
    </tr>
}

</table>
