@model IEnumerable<CustomerMVC.Models.Movies>

@{
    ViewBag.Title = "Index";
}

<h2>Now Showing</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Images
        </th>
        <th>
            Title
        </th>
        <th>
            Short Description
        </th>
        <th>
            Duration
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.Poster)" alt="1" style="width:170px;height:230px;">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Short_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Movie_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Movie_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Movie_ID })
        </td>
    </tr>
}

</table>
