@model IEnumerable<CustomerMVC.Models.MovieComingSoon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Images
        </th>
        <th>
            Title
        </th>
        <th>
            Short Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            <p class="btn btn-default">@Html.ActionLink("Back", "Index", "Home")</p>
        </td>
    </tr>
}

</table>
